<!DOCTYPE html>
<html>
<head>
	<title>Score</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="continer mx-auto">
		<h1 class="text-center"><strong>Awakinn</strong><br>Code Week</h1>
		
		<div class="d-flex" style="justify-content: center;">
			<div class="card m-2" style="width: 10rem">
				<img class="card-img-top" src="{{ url_for('static',filename='1.png') }}">
				<div class="card-body">
					<td><a href="https://codeforces.com/profile/{{ data[0][1]['name'] }}" target="blank" style="font-size: 1.2em" >{{ data[0][1]['name'] }}</a></td>
				</div>
			</div>
			<div class="card m-2" style="width: 10rem">
				<img class="card-img-top" src="{{ url_for('static',filename='2.png') }}">
				<div class="card-body">
					<td><a href="https://codeforces.com/profile/{{ data[0][1]['name'] }}" target="blank" style="font-size: 1.2em" >{{ data[1][1]['name'] }}</a></td>
				</div>
			</div>
			<div class="card m-2" style="width: 10rem">
				<img class="card-img-top" src="{{ url_for('static',filename='3.png') }}">
				<div class="card-body">
					<td><a href="https://codeforces.com/profile/{{ data[0][1]['name'] }}" target="blank" style="font-size: 1.2em" >{{ data[2][1]['name'] }}</a></td>
				</div>
			</div>
		</div>
		
		<table class="table table-striped text-center">
			<tr>
				<th>Rank</th>
				<th>Star</th>
				<th>Handle</th>
				<th>Points</th>
				<th>Accepted</th>
				<th>Wrong</th>
				<th>Accuracy</th>
				<th></th>
			</tr>

			{% for tr in data %}
				<tr>
					<td>{{ tr[0] }}</td>
					<td>{{ tr[1]['star'] }}</td>
					<td><a href="https://codeforces.com/profile/{{ tr[1]['name'] }}" target="blank" >{{ tr[1]['name'] }}</a></td>
					<td><b>{{ tr[1]['points'] }}</b></td>
					<td>{{ tr[1]['accepted'] }}</td>
					<td>{{ tr[1]['wrong'] }}</td>
					<td>{{ tr[1]['accuracy'] }} %</td>
					<td><a href="{{ url_for( 'info',user=tr[1]['name'] ) }}">Details</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>